body{
    margin: 0px;
    background-color: #8E443D;
    font-family: Verdana, sans-serif;

}

header{
    padding: 10px;
    background-color: #511730;
    color: white;
    min-height: 60px;
    text-align: center;
    border-bottom: 3px black solid;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form{
    min-width: 30%;
    padding: 30px;
}

div{
    margin-top: 50px;
    background-color: #CB9173;
    padding: 30px;
    border-radius: 30px;
    border: #511730 solid 2px;
}

div h3{
    text-align: center;
    margin-bottom: 40px;
}

div input[type=text]{
    width: 60%;
    height: 20px;
    border-radius: 10px;
}

div input[type=range]{
    min-width: 60%;
    
}