body{
    margin: 0px;
    background-color: #8E443D;
    font-family: Verdana, sans-serif;

}

header{
    padding: 10px;
    background-color: #511730;
    color: white;
    min-height: 60px;
    text-align: center;
    border-bottom: 2px black solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

form{
    min-width: 30%;
    padding: 30px;
}

div{
    margin-top: 50px;
    background-color: #CB9173;
    padding: 30px;
    border-radius: 30px;
    border: #511730 solid 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);}

div h3{
    text-align: center;
    margin-bottom: 40px;
}
div input{
    margin-left: 40px;
}

div input[type=text]{
    width: 60%;
    height: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

div input[type=radio]{
    width: 18px;
    height: 18px;
    transform: translateY(4px);
}

div input[type=number]{
    width: 60px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: #511730;
    color: white;
    font-size: 16px;
    text-align: right;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}


div input[type=range]{
    min-width: 60%;
    -webkit-appearance: none;
    background: #511730;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

div input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    width: 15px; 
    height: 15px; 
    background: white; 
    border-radius: 4px; 
    cursor: pointer; 
}

div input[type=color]{
    width: 80px;
    height: 35px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.kesz{
    min-width: 90%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.kesz button{
    margin: 30px;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    background-color: #511730;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

img{
    max-width: 25%;
    height: auto;
    transform: translateY(-100px);
    float: right;
}